.cardContainer {

    width: 14em;
    height: 8em;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 1em;
    margin: 25px;

    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aquamarine;
}